# Normaliza finales de línea a LF en el repo (evita diffs falsos entre Windows y Linux)
* text=auto eol=lf

*.go   text eol=lf
*.pks  text eol=lf
*.sh   text eol=lf

*.png  binary
*.jpg  binary
*.ico  binary
*.mp3  binary
*.ogg  binary
*.wav  binary
*.exe  binary
